@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
h1 {
  font-size: 23px;
}

h2 {
  font-size: 20PX;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}

p {
  font-size: 15px;
}

#order {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px 30px;
  margin: 10px auto 25px auto;
  font-family: "roboto";
  display: flex;
  box-shadow: 0px 5px 7px rgb(165, 165, 165);
}
#order:hover {
  box-shadow: 0px 5px 5px rgb(165, 165, 165);
  background-image: linear-gradient(to bottom, #fface8, #ae80e5);
}

#button-explorer {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-family: roboto;
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
  margin: 0 auto 0 auto;
  border: none;
  text-align: center;
  box-shadow: 0px 5px 7px rgb(165, 165, 165);
}
#button-explorer:hover {
  box-shadow: 0px 5px 5px rgb(165, 165, 165);
  background-image: linear-gradient(to bottom, #fface8, #ae80e5);
}

input {
  border: none;
  background: none;
}
input::-moz-placeholder {
  color: black;
  font-weight: 600;
  font-size: 15px;
}
input::placeholder {
  color: black;
  font-weight: 600;
  font-size: 15px;
}

#haut-de-page {
  font-family: "Shrikhand";
  font-size: 40px;
}
#haut-de-page .card-menu-titre {
  display: flex;
  flex-direction: column;
}
#haut-de-page .titre-menu {
  position: relative;
  bottom: 70PX;
  background-color: white;
  border-radius: 50px 50px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#haut-de-page .titre-menu .fa-regular {
  margin: auto 0 auto 0;
  font-size: 23px;
  padding-right: 20px;
}
#haut-de-page img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin: 15px;
}
.menu .carte {
  margin-top: -75px;
}
.menu ul {
  padding: 0;
  list-style: none;
}
@media (min-width: 500px) {
  .menu ul {
    display: flex;
    flex-direction: column;
  }
}
.menu li {
  padding-bottom: 20px;
}
.menu h2 {
  font-family: "roboto";
  font-weight: 300;
  width: 60px;
  padding-bottom: 10px;
  border-bottom: 5px solid #99E2D0;
  text-overflow: ellipsis;
}

body {
  margin: 0;
}

.loading-transition {
  position: relative;
  animation-name: animation-bottom;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes animation-bottom {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
.progress {
  position: fixed;
  top: 50%;
  left: calc(50% - 150px);
  height: 10px;
  width: 300px;
  border: 10px solid #FF79DA;
  border-radius: 15px;
  animation-name: sup;
  animation-delay: 5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 1;
  z-index: 2;
  box-shadow: 0 0 5px;
}

.progress .color {
  position: absolute;
  background-color: #9356DC;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 5s forwards;
}

@keyframes sup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
#explorer {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}
#explorer h1 {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 600;
}
#explorer h2 {
  font-family: "roboto";
  font-size: 15px;
  font-weight: 300;
}
#explorer form {
  padding: 10px 0;
  width: 100%;
  background-color: rgb(226, 226, 226);
}
#explorer form .fa-solid {
  align-items: center;
  padding-right: 5px;
}
#explorer form div {
  display: inline-block;
}
#explorer form input {
  font-family: "roboto";
  font-size: 20px;
  font-weight: 400;
  text-align: start;
  width: 55%;
}
#explorer form input:focus {
  outline: none;
}
#explorer form input:focus::-moz-placeholder {
  color: transparent;
}
#explorer form input:focus::placeholder {
  color: transparent;
}

#fonctionnement {
  font-family: roboto;
  font-weight: 500;
  padding: 0 20px;
}
#fonctionnement .fa-solid {
  color: #666666;
  padding: 10px 20px 10px 0;
}
#fonctionnement h3 {
  padding: 0;
}
#fonctionnement ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
}
#fonctionnement li {
  flex-basis: 2%;
  counter-increment: my-awesome-counter;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0 rgb(184, 184, 184);
  margin: 0 0 20px 16px;
}
#fonctionnement li:hover {
  background-color: #f4eefc;
}
#fonctionnement li:hover .fa-solid {
  color: #9356DC;
}
#fonctionnement li::before {
  right: 15px;
  position: relative;
  content: counter(my-awesome-counter);
  background: #9356DC;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
}
#fonctionnement ol ol li::before {
  background: #9356DC;
}
#fonctionnement ol ol ol li::before {
  background: #9356DC;
}

#restaurant {
  background-color: #f7f7f7;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#restaurant h2 {
  font-family: "roboto";
  font-weight: 700;
  padding: 20px 0 0 0;
  margin: 0;
}
#restaurant ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
#restaurant li {
  padding-bottom: 25px;
}

header ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-index {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.container-index img {
  height: 200px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-index .tittle-container-index {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 16px;
  text-decoration: none;
  color: black;
}
.container-index i {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  position: initial;
  margin: auto 0 auto 0;
}
.container-index .icone-index .fa-solid {
  display: none;
}
.container-index .icone-index:hover .fa-solid {
  display: initial;
  color: transparent;
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
.container-index .icone-index:hover .fa-regular {
  display: none;
}
.container-index a {
  text-decoration: none;
  border: none;
}
.container-index h2,
.container-index h3,
.container-index h4,
.container-index p {
  font-family: "roboto";
  color: black;
}
.container-index h4 {
  font-weight: 300;
  margin: 4px;
}
.container-index h3 {
  font-weight: 500;
  margin: 4px;
}
.container-index p {
  font-weight: 500;
  color: green;
  background-color: #99E2D0;
  border-radius: 2px;
  width: 70px;
  padding: 8px;
  position: absolute;
  right: 35px;
  text-align: center;
}

@keyframes card-apparition {
  0% {
    opacity: 0;
    transform: translateY(7%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes item-animation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes check-animation-open {
  0% {
    min-width: 0;
    max-width: 0;
  }
  100% {
    min-width: 60px;
    max-width: 60px;
  }
}
.card-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "roboto";
  opacity: 1;
  transform: translateY(0);
  animation-duration: 2s;
  animation-name: card-apparition;
  animation-fill-mode: backwards;
}
.card-menu.main_courses {
  animation-delay: 0.5s;
}
.card-menu.desserts {
  animation-delay: 1s;
}
.card-menu .fa-solid.fa-circle-check {
  display: none;
}
.card-menu:hover .item-check {
  animation-name: check-animation-open;
  animation-duration: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  min-width: 60px;
  max-width: 60px;
}
.card-menu:hover .fa-solid.fa-circle-check {
  transform: rotate(0);
  animation: item-animation 2s;
  display: initial;
  color: white;
  border-radius: 0 15px 15px 0;
}
.card-menu .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
.card-menu .container h3 {
  font-weight: 700;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  text-overflow: ellipsis;
}
.card-menu .container h4 {
  font-weight: 300;
  flex: 1;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-overflow: ellipsis;
}
.card-menu .container p {
  font-weight: 500;
  flex: 2;
  text-align: right;
  padding-right: 20px;
}
.card-menu .container h3, .card-menu .container h4, .card-menu .container p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  padding: 0 40px 0 20px;
}
header #logo {
  width: 175px;
  margin: 10px 0;
}
header.header-menu a {
  margin: auto 0 auto 0;
}
header #image-titre {
  display: flex;
  flex: 1;
  justify-content: center;
}
header .fa-solid {
  font-size: 20px;
  color: black;
}

footer {
  background-color: black;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 25px 0 0 0;
  font-weight: 100;
  font-size: 20px;
}
footer h4 {
  font-family: "Roboto";
  font-weight: 300;
  margin: 0;
  font-size: 15px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
}
footer i {
  padding-right: 10px;
  font-size: 15px;
}
footer .fa-solid.fa-handshake-angle {
  font-size: 11px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */