header{
    display: flex;
    // display: none; //REMOVE ME
    justify-content: center;
    padding:0 40px 0 20px ;
    #logo{
        width: 175px;
        margin: 10px 0;
    }
    &.header-menu{
        a{
            margin:auto 0 auto 0;
        }
    }
    #image-titre{
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .fa-solid{
        font-size: 20px;
        color: black;
    }
}