#haut-de-page {
    .card-menu-titre{
        display: flex;
        flex-direction: column;
    }
    font-family: "Shrikhand";
    font-size: 40px;

    .titre-menu {
        position: relative;
        bottom: 70PX;
        background-color: white;
        border-radius: 50px 50px 0 0;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .fa-regular{
            margin: auto 0 auto 0;
            font-size: 23px;
            padding-right: 20px;
        }
        .fa-solid{
            display: none;
            // font-size: 23px;
        }
        &:hover{
            .fa-solid{
                margin: auto 0 auto 0;
                font-size: 23px;
                padding-right: 20px;
                display: initial;
                color:transparent;
                background: linear-gradient(0deg, $colour-secondaire 0%, $colour-primaire 100%); 
                background-clip: text;
                animation: hearth_animation 2s;
            }
            .fa-regular{
                display: none;
            }
        }
    }

    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
}


.menu {
    margin: 15px;

    .carte{
        margin-top: -75px;
    }
    // padding-top: -40px;
    ul{
        padding: 0;
        list-style: none;
        @media (min-width: 700px){
            display: flex;
            flex-direction: column;    
        }
    }
li{
    padding-bottom: 20px;
    
}
h2 {
    
    font-family: "roboto";
    font-weight: 300;
    width: 60px;
    padding-bottom: 10px;
    border-bottom: 5px solid $colour-tertiaire;
    text-overflow: ellipsis;
}
}